* {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 223, 170);
}

.text-justify {
    text-align: justify;
}
/* navbar styling */
.navbar {
    color:rgb(255, 255, 255);
    background-color: rgb(114, 144, 58);
}

/* Flash messages */
.flashes {
    line-height: 2;
    background-color: rgb(114, 144, 58);
}

/*  Register/Login template  */
.card-body {
    background-color: rgb(114, 144, 58);
}
.text-color {
    color: rgb(114, 144, 58);
}

.btn-login:hover {
    color: rgb(114, 144, 58);
}

.btn-register:hover {
    color: rgb(114, 144, 58);
}

/* Profile template */

.profile-header {
    margin-top: 1.5em;
    padding: 1em;
}

.upload-btn:hover {
    color: rgb(114, 144, 58);
}

.img-profile {
    width: 40vw;
    height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
    /* max-width: 350px;
    height: 350px; */
}

.btn-back:hover {
    color: rgb(114, 144, 58);
}
.btn-del:hover {
    color: rgb(168, 41, 41);
}

/* Community template */

.image-community {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 245px;
    height: 250px;
}

.pagination{
    display: flex;
    justify-content: center;
}
.pagination>ul {
    list-style: none;
}
.pagination>ul>li {
    float: left;
    padding: 5px;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    /* width: 40em; */
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.pagination-page-info b {
    color: #fff;
    background: rgb(114, 144, 58);
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
    border-radius: 20%;
}

/* Upload template */
.bg-color {
    background-color: rgb(114, 144, 58);
}

/* Comment template */
.btn-comment:hover {
    background-color: #fff;
    color: rgb(114, 144, 58)!important;
}

.drop-down {
    cursor: pointer;
}
.cross {
    display: none;
    cursor: pointer;
}
#commentsEdit {
    display: none;
    animation: btn 0.5s ease-in-out;
}
@keyframes btn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* base template image */

.landing-image-div {
    width: 65%;
    height: 70vh;
    background: url("../images/share-ur-story.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -1% 10%;
}

.index-main-div {
    max-width: 85%;
    margin:0;
}

.btn-signup, .btn-login {
    background-color: rgb(114, 144, 58);
    color: #fff;
}

.btn-signup:hover {
    color: rgb(114, 144, 58);
    background-color: #fff;
}

.btn-login:hover {
    color: rgb(114, 144, 58);
    background-color: #fff;
}

/*footer*/
.footer-align{
    min-height: 82vh;
}

footer { 
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%; 
    background-color:rgb(114, 144, 58); 
    max-height:250px; 
    padding:10px 0px 10px 0px;
}
footer p {
    font-size:14px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:8px;
}

.social_footer_ul { 
    display:table;
    margin:15px auto 0 auto; 
    list-style-type:none;  
    padding-left: 0;
}
.social_footer_ul li { 
    padding:20px;
    float:left; 
}
.social_footer_ul li a { 
    color:#CCC; 
    border:2px solid #CCC; 
    padding:6px;
    border-radius:50%;
}
.social_footer_ul li i {  
    width:25px; 
    height:16px; 
    text-align:center;
}


/* media queries for base template */

@media screen and (min-width: 766px){
    .index-heading {
        top: 10%!important;
        left: 50%;
    }
    .index-main-div {
        position: relative;
        /* right: 5%; */
    }
}

@media screen and (min-width: 1024px){
    .index-heading {
        top: 10%!important;
        left: 50%;
    }
    .index-main-div {
        left: 50px;
    }
}