.navbar {
    color:rgb(255, 255, 255);
    background-color: rgb(114, 144, 58);
}

/* Flash messages */
.flashes {
    line-height: 2;
    background-color: rgb(114, 144, 58);
}

/*  Register/Login Page  */
.card-body {
    background-color: rgb(114, 144, 58);
}
.text-color {
    color: rgb(114, 144, 58);
}

.btn-login:hover {
    color: rgb(114, 144, 58);
}

.btn-register:hover {
    color: rgb(114, 144, 58);
}