body {
    background-color: rgb(204, 223, 170);
}

.navbar {
    color:rgb(255, 255, 255);
    background-color: rgb(114, 144, 58);
}

/* Flash messages */
.flashes {
    line-height: 2;
    background-color: rgb(114, 144, 58);
}

/*  Register/Login template  */
.card-body {
    background-color: rgb(114, 144, 58);
}
.text-color {
    color: rgb(114, 144, 58);
}

.btn-login:hover {
    color: rgb(114, 144, 58);
}

.btn-register:hover {
    color: rgb(114, 144, 58);
}

/* Profile template */

.profile-header {
    margin-top: 1.5em;
    padding: 1em;
}

.upload-btn:hover {
    color: rgb(114, 144, 58);
}

.img-profile {
    width: 40vw;
    height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
    /* max-width: 350px;
    height: 350px; */
}

.btn-back:hover {
    color: rgb(114, 144, 58);
}
.btn-del:hover {
    color: rgb(168, 41, 41);
}

/* Community template */

.image-community {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 245px;
    height: 250px;
}

.pagination{
    display: flex;
    justify-content: center;
}
.pagination>ul>li {
    float: left;
    padding: 5px;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    /* width: 40em; */
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.pagination-page-info b {
    color: #fff;
    background: rgb(114, 144, 58);
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
    border-radius: 20%;
}

/* Upload template */
.bg-color {
    background-color: rgb(114, 144, 58);
}