{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>404 Error - Page not Found</title>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <h2>O dear, This Page doesnt Exist. 404 Error</h2>
                <h2><a href="{{ url_for('home') }}">Go Back to Home page</a></h2>
            </div>
        </div>
    </body>
</html> 
{% endblock %}