{% extends "base.html" %} {% block content %}
    {% for article in articles %}
        {% if article._id == post._id %}
            <form action="{{ url_for('comments', post_id=article._id) }}" method="post">
                <div class="row mt-3 profile-header">
                    <div class="col-sm text-center">
                        <p class="fw-bold text-color">Date: {{ post.date }}</p>
                        <img src="{{ article.image }}" alt="article-image" class="shadow img-fluid">
                        <h4 class="p-2">{{ post.title }}</h5>
                            <div class="row mt-3">
                                <div class="col-sm-8 mx-auto text-justify">
                                    <p class="bg-light p-2 fw-bold">{{ post.summary }}</p>
                                    <p class="badge rounded-pill bg-warning text-dark">Submit by: <span
                                            class="text-success">{{ post.submit_by.capitalize() }}</span></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row container">
                    <div class="col-12 mb-3">
                        <textarea id="userComment" placeholder="Your Comment..." name="userComment" class="form-control border border-4" minlength="3"
                        maxlength="250" required></textarea>
                        <div class="mt-2">
                            <button href="" class="btn bg-color text-light btn-comment float-start mt-1">Submit</button>
                        </div>
                    </div>
                </div>

                <hr>
            </form>
            {% for comment in comments %}
                {% if comment.comment_id == post._id %}
                    <div class="row p-2 rounded bg-light mx-auto container mb-3">
                        <div class="col-sm-5 align-items-start container">
                            <p class="badge rounded-pill bg-dark text-light text-left px-2">{{ comment.submit_by }}</p>
                            <p>{{ comment.comment}}</p>
                            {% if comment.edit %}
                                <p class="text-success">{{ comment.edit }}</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 offset-sm-2 container">
                        {% if comment.submit_by == session["user"] %}
                            <p class="float-end" id="commentsEdit">
                                <a href="{{ url_for('edit_comment', comment_id=comment._id) }}" class="btn btn-outline-warning my-1"><i class="fas fa-edit"></i></a>
                                <a href="{{ url_for('delete_comment', comment_id=comment._id) }}"
                                class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                            </p>
                        {% endif %}
                        
                        <p class="float-end px-2 text-dark">{{ comment.time }} <span class="text-danger">{{ comment.date }}</span>
                        {% if comment.submit_by == session["user"] %}
                            <i class="float-start fas fa-caret-down px-3 drop-down" id=""></i><i class="float-end px-2 fas fa-times cross" id=""></i></p>
                        {% endif %}
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block image %}
{% endblock %}