{% extends "base.html" %}
{% block content %}
        <form action="{{ url_for('edit_comment', comment_id=post_comments._id) }}" method="post">
            <div class="row text-center">
                <div class="col-12 my-3">
                    <input class="form-control border" type="text" id="userEditComment" name="userEditComment"
                        value="{{ post_comments.comment }}" minlength="3" maxlength="250" required>
                    <div class="my-3">
                        <a href="{{ url_for( 'comments', post_id=post._id ) }}" class="btn btn-danger">Cancel</a>
                        <button class="btn btn-success" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}
{% block landing %}
{% endblock %}