{% extends "base.html" %} {% block content %}
{% for article in articles %}
        {% if article.title == post.title %}
            <div class="row mt-3 p-3">
                <form action="" method="POST">
                    <div class="col">
                        <label class="form-label p-2 badge bg-color" for="image_url">Image URL:</label>
                        <input class="form-control mb-2" type="text" name="image_url" id="image_url"
                            value="{{ article.image }}" required>
                        
                        <label for="title" class="form-label p-2 badge bg-color">Title</label>
                        <input class="form-control mb-2" type="text" minlength="5" maxlength="15" name="title" id="title"
                            value="{{ article.title }}" required>

                        <label for="summary" class="form-label p-2 badge bg-color">Summary</label>
                        <input class="form-control" type="text" name="summary" id="summary"
                            value="{{ article.summary }}" required>
                    </div>
                    <div class="row mt-3 text-center">
                        <div class="col align-items-center">
                            <button class="btn btn-success" type="submit">Update</button>
                            <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block image %}
{% endblock %}