{% extends "base.html" %}
{% block content %}
    <h5 class="text-center p-2 mt-3 fs-1 text-color">Log In</h5>
    <div class="p-5">
        <div class="row card-body">
            <form class="col-12 shadow p-5" method="POST" action="{{ url_for('login') }}">
                <div class="">
                    <!-- username -->
                    <div class="mb-3 row">
                        <label for="username" class="col-sm-1 offset-sm-3 col-form-label"><i class="fas fa-user text-light fs-1"></i></label>
                        <div class="col-sm-4 ">
                            <input id="username" name="username" type="text" placeholder="Username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-1 offset-sm-3 col-form-label"><i class="fas fa-user-lock text-light fs-1"></i></label>
                        <div class="col-sm-4">
                            <input id="password" name="password" type="password" placeholder="Password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                        </div>
                    </div>
                    <!-- Log in -->
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-lg btn-outline-light btn-login">
                                Log in <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
    <div class="col-11">
        <p class="text-center text-color fw-bold">
            Not Registered?
            <a href="{{ url_for('register') }}" class="fw-normal p-2 btn btn-signup">Register</a>
        </p>
    </div>
    </div>
{% endblock %}
{% block image %}
{% endblock %}

