{% extends "base.html" %}
{% block content %}
    <div class="row profile-header">
        <div class="mb-3 shadow p-4 navbar bg-gradient rounded">
            <p class="flex-grow-1 text-warning fs-2">Dashboard</p>
            <a href="{{ url_for('upload') }}"  class="btn btn-outline-light float-end upload-btn">Upload</a>
        </div>
    </div>
    <div class="profile-header">
        <div class="row mt-3">
            <div class="text-center mb-3">
                <p class="fs-2 text-color fw-bold">{{ username.username.capitalize() }}'s Stories</p>
            </div>
        </div>
    </div>
    <div class="profile-header">
        {% for article in articles %}
            {% if article.submit_by == session["user"] %}
                <div class="row mt-3">
                    <div class="text-left">
                        <p><span class="fw-bold">{{ article.date }}</span> {{ article.time }}</p>
                    </div>
                    <div class="col text-center">
                        <img class="img-profile shadow" src="{{ article.image }}" alt="article-image">
                        <p class="profile-title-text fs-4">{{ article.title }}</p>
                        <p id="summaryText" class="profile-summaryText p-4 text-justify">{{ article.summary }}</p>
                        <div class="text-center mb-3">
                            <a href="{{ url_for('edit_post', post_id=article._id) }}" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
                            <button type="button"
                                class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="far fa-trash-alt"></i> Delete</button>
                        </div>
                    </div>
                </div>
                <!-- needs to put if statment to finish hr before last database -->
                <hr>
                <!-- Modal -->
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content text-center p-3 bg-color">
                            <h4 class="text-light">Are you sure ?</h4>
                            <div>
                                <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-lg btn-outline-light btn-back"><i class="fas fa-arrow-alt-circle-left"></i></a>
                                <a href="{{ url_for('delete_post', post_id=article._id) }}" class="btn btn-lg btn-outline-light btn-del"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}